{% load static %}
<html lang="en">
<head>
	<title>One page navigation</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>
<body>
	<div>
		<div id="t1">
			<div id="t2">
				<div id="t3">
					<div id="t4">
						<div id="t5">
							<div id="t6">
								<ul id="menu">
									<a href="#t1"><li class="motion fa fa-home" id="one"></li></a>
									<a href="#t2"><li class="motion fa fa-user" id="two"></li></a>
									<a href="#t3"><li class="motion fa fa-list" id="three"></li></a>
									<a href="#t4"><li class="motion fa fa-code-fork" id="four"></li></a>
									<a href="#t5"><li class="motion fa fa-code" id="five"></li></a>
									<a href="#t6"><li class="motion fa fa-envelope" id="six"></li></a>
								</ul>
								<div class="page" id="p1">
									<section class="motion fa fa-home"><span class="title">Home</span><span class="hint">Welcome! Check out my face recognition project for CS521 </span></section>
								</div>
								<div class="page" id="p2">
									<section class="motion fa fa-user"><span class="title">Home</span><span class="hint">Context</span></section>
								</div>
								<div class="page" id="p3">
									<section class="motion fa fa-list">
										<span class="title">

										</span>
										<span class="hint">


											<div class="gallery">
												<a href="{% url 'uimage' %}">
													<img src="{% static 'img/face_recog_img.png' %}" alt="face_recog_app_img" width="200" height="200">
												</a>

												<div class="desc">Face recognition web application</div>
											</div>

											<div class="gallery">
												<a target="_blank">
													<img src="{% static 'img/question_mark.png' %}" alt="TBA" width="200" height="200">
												</a>
												<div class="desc">Will be updated soon</div>
											</div>

											<div class="gallery">
												<a target="_blank">
													<img src="{% static 'img/question_mark.png' %}" alt="TBA" width="200" height="200">
												</a>
												<div class="desc">Will be updated soon</div>
											</div>

											<div class="gallery">
												<a target="_blank">
													<img src="{% static 'img/question_mark.png' %}" alt="TBA" width="200" height="200">
												</a>
												<div class="desc">Will be updated soon</div>
											</div>



										</span></section>
									</div>
									<div class="page" id="p4">
										<section class="motion fa fa-code-fork"><span class="title">Home</span><span class="hint">Context</span></section>
									</div>
									<div class="page" id="p5">
										<section class="motion fa fa-code"><span class="title">Home</span><span class="hint">Context</span></section>
									</div>
									<div class="page" id="p6">
										<section class="motion fa fa-envelope"><span class="title">Home</span><span class="hint">Context</span></section>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>
