{% load static %}
<html>
<head>
	<title>One page navigation</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>

<body>
<div>
	<div id="t1">
		<div id="t2">
			<div id="t3">
				<div id="t4">
					<div id="t5">
						<div id="t6">
						<ul id="menu">
							<a href="#t1"><li class="motion fa fa-home" id="one"></li></a>
							<a href="#t2"><li class="motion fa fa-user" id="two"></li></a>
							<a href="#t3"><li class="motion fa fa-list" id="three"></li></a>
							<a href="#t4"><li class="motion fa fa-code-fork" id="four"></li></a>
							<a href="#t5"><li class="motion fa fa-code" id="five"></li></a>
							<a href="#t6"><li class="motion fa fa-envelope" id="six"></li></a>
						</ul>
						<div class="page" id="p1">
							<section class="motion fa fa-home"><span class="title">Home</span><span class="hint">Like this pen to see the magic!...<br> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></section>  
						</div>
						<div class="page" id="p2">
							<section><span>hi</span></section>
						</div>  
						<div class="page" id="p3">
							<section class="motion"><span class="hint">this isfinal test</span></section>
						</div>
						<div class="page" id="p4">
							<section class="motion fa fa-dribbble">
								<span class="title">Dribbble</span>
								<p class="hint">
									<a href="https://dribbble.com/albertohartzet" target="_blank">Im ready to play, <span class="hint line-trough">invite me </span> find me</a>
								</p>
								<p class="hint">Already invited by <a href="http://www.dribbble.com/mrpeters" target="_blank">Stan Peters</a></p>
							</section>
						</div> 
						<div class="page" id="p5">
							<section class="motion fa fa-plus-circle">
								<span class="title">More</span>
								<p class="hint">
									<span>You love one page & CSS only stuff? </span><br/>
									<a href="https://codepen.io/hrtzt/details/pgXMYb/" target="_blank">check this pen "Pure CSS One page vertical navigation"</a>
								</p>
							</section>
						</div>
						<div class="page" id="p6">

						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>



</div>

</body>
</html>